<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Seleniumex" thread-count="3" parallel="tests">
	<test name="chrome test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.testing.FrameworksTest" />
		</classes>
	</test>
	<test name="firefox test">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.testing.FrameworksTest" />
		</classes>
	</test>
	<test name="api test">
		<classes>
			<class name="com.testing.APITests">
				<methods>
					<include name="testRestApi"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite> <!--
Seleniumex -->
